@use "src/styles/vars";
@use "src/styles/mixins";
@use "@jambonz/ui-kit/src/styles/vars" as ui-vars;

.jaegerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  background-color: #fff;
  z-index: vars.$zindex00;
  overflow-y: hidden;
}

.modalHeader button {
  min-height: 28px;

  @media (max-width: 820px) {
    height: 34px;
  }

  @media (min-width: 820px) {
    height: 40px;
  }
}

.modalHeader {
  display: flex;
  background-color: white;
  padding: 20px;
  vertical-align: middle;
  justify-content: left;
  height: 8vh;

  @media (max-width: 380px) {
    padding: 10px;
    height: 10vh;
    font-size: 0.9em;
    font-weight: lighter;
  }

  @media (min-width: 410px) {
    padding: 10px;
    height: 8vh;
    font-weight: lighter;
  }

  @media (min-width: 600px) {
    padding: 20px;
    font-weight: lighter;
    font-size: small;
  }

  @media (min-width: 820px) {
    padding: 20px;
    font-weight: lighter;
    font-size: small;
  }

  @media (min-width: 910px) {
    font-weight: bolder;
  }

  &__header_item {
    padding-top: 10px;
    margin-left: 20px;
    display: flex;
    font-weight: bolder;

    @media (max-width: 380px) {
      padding-top: 8px;
      margin-left: 15px;
      font-size: 0.8em;
    }

    @media (min-width: 380px) {
      padding-top: 12px;
      margin-left: 15px;
      font-size: 0.7em;
      font-weight: lighter;
    }

    @media (min-width: 410px) {
      padding-top: 11px;
      margin-left: 15px;
      font-size: 0.7em;
      font-weight: lighter;
    }

    @media (min-width: 820px) {
      padding-top: 10px;
      font-weight: bolder;
      font-size: medium;
    }

    @media (min-width: 910px) {
      padding-top: 12px;
      font-weight: bolder;
      font-size: 1.2em;
    }
  }
}

.barGroup {
  display: flex;
  background-color: #333;
  color: #fff;
  height: 50vh;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 50px;
  @media (max-width: 600px) {
    padding: 15px;
    height: 40vh;
  }
}

.barWrapper {
  margin-top: 1px;
  width: 100%;

  &__row {
    display: flex;
    padding: 1px;
    width: 100%;
    cursor: pointer;
  }

  &__row:hover {
    font-weight: bolder;
    color: ui-vars.$purple;
  }

  &__row:hover button {
    font-weight: bolder;
    background-color: ui-vars.$purple;
  }

  &__header {
    min-width: 400px;
    height: 15px;
    padding-top: 4px;
    font-size: small;

    @media (max-width: 600px) {
      padding-top: 4px;
      min-width: 250px;
      font-size: x-small;
    }
  }

  &__span {
    padding-top: 4px;
    height: 15px;
    flex-shrink: 0;
    vertical-align: middle;
    border: 3px solid #444;
    border-radius: 8px;
    background-color: ui-vars.$jambonz;
    min-width: 6px;
  }

  &__duration {
    margin: 5px;
    min-width: 150px;
  }
}

.spanDetailsWrapper {
  width: 100%;
  height: 35vh;

  &__detailsWrapper {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    font-size: 0.9em;

    @media (max-width: 600px) {
      padding: 5px;
      font-size: 0.7em;
    }

    @media (min-width: 600px) {
      padding: 15px;
      font-size: 0.9em;
    }
  }

  &__details {
    display: flex;
  }

  &__details_header {
    padding: 0;

    @media (max-width: 600px) {
      min-width: 160px;
      padding: 5px;
    }

    @media (min-width: 600px) {
      min-width: 200px;
      padding: 5px;
    }
  }

  &__details_body {
    flex-grow: 1;
    //overflow-x: auto;
    white-space: pre;
    width: 100%;
    //height: 15px;
    padding: 0;
  }

  &__header {
    background-color: #fff;
    color: ui-vars.$jambonz;
    padding: 20px 20px 20px 30px;
    border-bottom: thin solid #ccc;
  }
}
