@use "src/styles/vars";
@use "src/styles/mixins";
@use "@jambonz/ui-kit/src/styles/vars" as ui-vars;

.jaegerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: vars.$zindex00;
  overflow-y: scroll;
}

.modalHeader {
  display: flex;
  background-color: white;
  padding: 20px;
  vertical-align: middle;
  justify-content: left;

  &__header_item {
    padding-top: 10px;
    margin-left: 20px;
    display: flex;
    font-weight: bolder;
  }
}

.scroll-buttons {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  background-color: #333;
}

.barGroup {
  display: flex;
  background-color: #333;
  color: #fff;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px;
}

.barWrapper {
  margin-top: 5px;
  width: 100%;

  &__row {
    display: flex;
    padding: 3px;
    width: 100%;
    cursor: pointer;
  }

  &__row:hover {
    font-weight: bolder;
    color: ui-vars.$purple;
  }

  &__row:hover button {
    font-weight: bolder;
    background-color: ui-vars.$purple;
  }

  &__header {
    min-width: 400px;
    height: 20px;
    padding-top: 8px;
    font-size: small;
  }

  &__span {
    padding-top: 8px;
    height: 20px;
    flex-shrink: 0;
    vertical-align: middle;
    border: 3px solid #444;
    border-radius: 8px;
    background-color: ui-vars.$jambonz;
    min-width: 6px;
  }

  &__duration {
    margin: 5px;
    min-width: 150px;
  }
}

.spanDetailsWrapper {
  background-color: #fff;
  color: #444;
  min-height: 200px;
  height: 100%;
  width: 100%;

  &__details {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.875rem;
    line-height: 1.9;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 32px;
    text-align: left;
    padding: 32px;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
  }

  &__details_body {
    max-width: 100%;
    overflow-x: auto;
    white-space: pre;
    height: 40px;
  }

  &__header {
    background-color: #fff;
    color: ui-vars.$jambonz;
    padding: 20px 20px 20px 30px;
    border-bottom: thin solid #ccc;
  }
}
