{
  "extends": "react-app",
  "rules": {
    "linebreak-style": [
        "error",
        "unix"
    ],
    "semi": [
        "error",
        "always"
    ],
    "no-trailing-spaces": [
      "error"
    ]
  }
}
