@use "src/styles/vars";
@use "src/styles/mixins";
@use "@jambonz/ui-kit/src/styles/vars" as ui-vars;

.wavesuffer {
  position: relative;
}

.footer {
  display: grid;
  width: 100%;
  margin-top: ui-vars.$px02;

  &__buttons {
    padding: ui-vars.$px02;
    display: inline-flex;
    flex-wrap: wrap;
    gap: ui-vars.$px02;
  }
}

.controll-btn-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 13px;

  &__center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    button:not(:last-child) {
      margin-right: ui-vars.$px01;
    }

    button {
      background-color: transparent;
      width: auto;
      height: auto;
      border: 0;
      padding: 0;
    }
    .ico {
      color: ui-vars.$white;
      @include mixins.icosize();
    }
  }

  &__right {
    a:not(:last-child) {
      margin-right: ui-vars.$px01;
    }

    button {
      background-color: transparent;
      width: auto;
      height: auto;
      border: 0;
      padding: 0;
    }
    .ico {
      color: ui-vars.$white;
      @include mixins.icosize();
    }
  }

  &__placeholder {
    flex: 1;
  }
}

.media-container {
  overflow-x: auto;
  border: 1px solid black;
  border-radius: ui-vars.$px01;
  padding: 13px;
  position: relative;

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: ui-vars.$px01;
    margin-top: ui-vars.$px01;
  }
}

.log-container {
  background-color: black;
  color: #00ff00; /* Green text for terminal-like effect */
  font-family: monospace;
  padding: 10px;
  border-radius: 5px;
  max-height: 500px; /* Adjust height as needed */
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
