@use "src/styles/vars";
@use "src/styles/mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.navi {
  width: 100%;
  max-width: vars.$widthnavi;
  height: 100vh;
  background-color: ui-vars.$dark;
  padding-left: vars.$px03;
  padding-right: vars.$px03;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: sticky;
  top: 0;

  > * + * {
    border-top: 1px solid #444;
  }

  @include mixins.mobile() {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    padding-left: ui-vars.$width-padding;
    padding-right: ui-vars.$width-padding;
  }

  &.active {
    @include mixins.mobile() {
      pointer-events: auto;
      opacity: 1;
      z-index: 999;
    }
  }

  &__top {
    display: none;
    padding-top: vars.$px03;
    padding-bottom: vars.$px03;

    @include mixins.mobile() {
      display: flex;
    }

    .ico {
      @include mixins.icosize();
    }
  }

  &__sps {
    padding-top: vars.$px03;
    padding-bottom: vars.$px03;
    position: relative;

    select {
      @include ui-mixins.mxs();
      font-family: inherit;
      appearance: none;
      background-color: transparent;
      border: 0;
      color: ui-vars.$white;
      width: 100%;
      padding-right: vars.$px04;

      &:focus {
        outline: 0;
      }
    }

    span {
      height: vars.$ico01;
      width: vars.$ico01;
      background-color: #333;
      border-radius: vars.$px00;
      position: absolute;
      right: calc(#{vars.$ico01} + #{vars.$px01});
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;

      svg {
        stroke: ui-vars.$grey;

        &:first-child {
          transform: translateY(2px);
        }

        &:last-child {
          transform: translateY(-2px);
        }
      }
    }

    button[type="button"] {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      svg {
        @include mixins.pluscircle();
      }
    }
  }

  &__user {
    padding-top: vars.$px02;
    padding-bottom: vars.$px02;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .avatar {
      border-radius: vars.$ico03;
    }

    .adduser {
      cursor: pointer;

      svg {
        @include mixins.pluscircle();
      }
    }
  }

  &__routes {
    padding-top: vars.$px03;
    padding-bottom: vars.$px03;

    ul li + li {
      margin-top: vars.$px02;
    }
  }

  &__link {
    @include ui-mixins.ms();
    color: #888;
    display: flex;
    align-items: center;
    padding: vars.$px00 vars.$px01;
    width: 100%;
    border-radius: vars.$px01;

    &.active {
      background-color: #333;
      color: ui-vars.$pink;
    }

    svg {
      width: vars.$ico0N;
      height: vars.$ico0N;
      stroke-width: vars.$stroke00;
      margin-right: vars.$px02;
    }
  }

  &__byo {
    margin-top: auto;
    color: ui-vars.$grey;
    border-top: 0;
    padding-bottom: vars.$px02;
  }

  &__logo {
    padding-top: vars.$px03;
    padding-bottom: vars.$px03;
  }
}
