@use "src/styles/vars";
@use "src/styles/mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.msg {
  @include ui-mixins.ms();
  padding: ui-vars.$px01 ui-vars.$px03 ui-vars.$px01 ui-vars.$px02;
  border-radius: ui-vars.$px01;
  border: 2px solid ui-vars.$jambonz;
  background-color: ui-vars.$pink;
  color: ui-vars.$jambonz;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;

  @include mixins.mobile() {
    text-align: left;
  }

  > svg {
    margin-right: ui-vars.$px02;
  }
}
