@use "./vars";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: ui-vars.$px02;
  margin-top: ui-vars.$px04;
  width: 100%;
  max-width: ui-vars.$width-laptop;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  border-radius: ui-vars.$px01;
  box-shadow: 0 0 ui-vars.$px01 rgba(0, 0, 0, 0.25);
  padding: ui-vars.$px02;
  overflow: hidden;

  &__title {
    @include ui-mixins.p();
  }

  &__sid,
  &__title {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: ui-vars.$px00;
  }

  &__sid {
    @include ui-mixins.ms();
    margin-top: ui-vars.$px02;
    margin-bottom: ui-vars.$px02;
  }

  &__meta {
    @include ui-mixins.ms();

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__actions {
    margin-top: ui-vars.$px04;

    > * + * {
      margin-left: ui-vars.$px01;
    }

    svg {
      stroke: ui-vars.$jambonz;
    }

    a {
      display: inline-block;
    }

    button[type="button"] {
      cursor: pointer;
    }
  }
}
