@use "./mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;

.filters {
  display: flex;
  padding-top: ui-vars.$px03;
  padding-bottom: ui-vars.$px03;

  &--ender {
    justify-content: flex-end;
  }

  &--spaced {
    justify-content: space-between;

    @include mixins.small() {
      overflow-x: auto;
      white-space: nowrap;
      grid-gap: ui-vars.$px02;
    }
  }

  &--multi {
    overflow-x: auto;
    white-space: nowrap;
    grid-gap: ui-vars.$px02;

    > :first-child {
      margin-left: auto;
    }
  }

  &--mix {
    overflow-x: auto;
    white-space: nowrap;
    grid-gap: ui-vars.$px02;
    justify-content: flex-end;

    > :nth-child(2) {
      margin-left: auto;
    }
  }

  + * {
    margin-top: 0;
  }
}
