@use "./mixins";
@use "@jambonz/ui-kit/src/styles/vars" as ui-vars;

.filters {
  display: flex;
  padding-top: ui-vars.$px03;
  padding-bottom: ui-vars.$px03;

  &--ender {
    justify-content: flex-end;
  }

  &--spaced {
    justify-content: space-between;

    @include mixins.small() {
      overflow-x: auto;
      white-space: nowrap;
      grid-gap: ui-vars.$px02;
    }
  }
  > :first-child {
    margin-left: auto;
  }
  &--multi {
    overflow-x: auto;
    white-space: nowrap;
    grid-gap: ui-vars.$px02;

    @media (max-width: 1400px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      > * {
        justify-self: end;
      }
    }

    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      > * {
        justify-self: end;
      }
    }

    @media (max-width: 1000px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      > * {
        justify-self: end;
      }
    }

    @media (max-width: 500px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      > * {
        justify-self: end;
      }
    }
  }

  &--mix {
    overflow-x: auto;
    white-space: nowrap;
    grid-gap: ui-vars.$px02;
    justify-content: flex-end;

    > :nth-child(2) {
      margin-left: auto;
    }
  }

  + * {
    margin-top: 0;
  }
}
