@use "./vars";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.list {
  > * + * {
    border-top: 1px solid ui-vars.$grey;
  }
}

.item {
  padding: ui-vars.$px03;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    @include ui-mixins.p();
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      margin: 0 ui-vars.$px02 0 0;
    }

    svg {
      transform: translate3d(0, 0, 0);
      transition: transform ui-vars.$base-dur ui-vars.$base-ease;
    }

    &:hover svg {
      transform: translate3d(ui-vars.$px01, 0, 0);
    }
  }

  &__sid {
    @include ui-mixins.ms();
  }

  &__meta {
    @include ui-mixins.ms();
    display: flex;
    align-items: center;

    > * + * {
      margin-left: ui-vars.$px02;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: ui-vars.$px01;
    }

    svg {
      stroke: ui-vars.$jambonz;
    }

    a {
      display: inline-block;
    }

    button[type="button"] {
      cursor: pointer;
    }
  }
}
