@use "jambonz-ui/src/styles/vars" as ui-vars;

$jeangrey: #888;
$darkgrey: #444;

$ico00: 18px;
$ico01: 24px;
$ico03: 36px;
$ico0N: 20px;

$widthnavi: 280px;
$widthinput: 512px;
$widthbreak: 800px;
$widthsmall: 640px;

/** Used by api-keys layout */
$gridbreak1: 1070px;
$gridbreak2: 940px;

$stroke00: 1.5px;

$zindex00: 1110010012;
$zindex01: 1110010013;

$clipheight: 50px;
