@use "jambonz-ui/src/styles/vars" as ui-vars;

$ico00: 18px;
$ico01: 24px;
$ico03: 36px;
$ico0N: 20px;

$widthnavi: 280px;
$widthinput: 512px;
$widthbreak: ui-vars.$width-tablet-2;

$stroke00: 1.5px;

$zindex00: 1110010012;
$zindex01: 1110010013;

$clipheight: 50px;
