@use "./forms";
@use "./cards";
@use "./lists";
@use "./smsel";
@use "./inpbtn";
@use "jambonz-ui/src/styles/index";

@use "./vars";
@use "./mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

/** Root custom vars */

:root {
  --mobile-media: #{vars.$widthbreak};
}

/** Global things */

pre,
code {
  @include mixins.pre();
}

pre {
  padding: ui-vars.$px03;
  color: ui-vars.$pink;
  background-color: ui-vars.$dark;
  border-radius: ui-vars.$px01;
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

p > code {
  padding: ui-vars.$px00;
  color: ui-vars.$pink;
  background-color: ui-vars.$dark;
  border-radius: ui-vars.$px00;
}

/** Used on the speech credentials form */
details {
  padding: ui-vars.$px02;
  border-radius: ui-vars.$px01;
  max-width: vars.$widthinput;

  &.fail {
    color: ui-vars.$jambonz;
    border: 2px solid ui-vars.$jambonz;
    background-color: ui-vars.$pink;
  }

  &.ok {
    color: ui-vars.$teal;
    border: 2px solid ui-vars.$teal;
    background-color: mix(ui-vars.$white, ui-vars.$teal, 90%);
  }

  summary {
    display: list-item;
    cursor: pointer;

    > div {
      display: inline-block;
      padding-left: ui-vars.$px00;
    }
  }

  &[open] {
    summary {
      margin-bottom: ui-vars.$px02;
    }
  }
}

/** The idea is this is like [type="button"] generically */
/** We need to prohibit some jambonz-ui buttons from submitting forms */
/** Otherwise this selector would just be `button[type="button"] {...}` */
/** https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type */
.btnty {
  background-color: transparent;
  width: auto;
  height: auto;
  border: 0;
  padding: 0;
  font-size: 0;
}

/** 404 page (login & internal) */
.notfound {
  .btn {
    margin-top: ui-vars.$px03;
  }

  &--login {
    text-align: center;
  }
}

.ispin {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: ui-vars.$px01;
  }
}

.txt--dark {
  color: ui-vars.$dark;
}
