@use "./forms";
// @use "./cards";
@use "./lists";
@use "./smsel";
@use "./inpbtn";
@use "jambonz-ui/src/styles/index";

@use "./vars";
@use "./mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

/** Root custom vars */

:root {
  --mobile-media: #{vars.$widthbreak};
}

/** Global things */

pre,
code {
  @include mixins.code();
}

pre {
  padding: ui-vars.$px03;
  color: ui-vars.$pink;
  background-color: ui-vars.$dark;
  border-radius: ui-vars.$px01;
  overflow: auto;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

p > code {
  padding: ui-vars.$px00;
  color: ui-vars.$pink;
  background-color: ui-vars.$dark;
  border-radius: ui-vars.$px00;
}

details {
  padding: ui-vars.$px02;
  border-radius: ui-vars.$px01;
  border: 2px solid ui-vars.$dark;
  max-width: vars.$widthinput;

  /** Used for recent calls and alerts */
  &.clean {
    padding: 0;
    border: 0;
    max-width: 100%;
    width: 100%;
  }

  /** Used on the speech credentials form */
  &.fail {
    color: ui-vars.$jambonz;
    border: 2px solid ui-vars.$jambonz;
    background-color: ui-vars.$pink;
  }

  &.ok {
    color: ui-vars.$teal;
    border: 2px solid ui-vars.$teal;
    background-color: mix(ui-vars.$white, ui-vars.$teal, 95%);
  }

  &.not-tested {
    color: vars.$jeangrey;
    border: 2px solid vars.$jeangrey;

    summary {
      .txt--grey {
        color: vars.$jeangrey;
      }
    }
  }

  summary {
    @include ui-mixins.m();
    cursor: pointer;

    + * {
      margin-top: ui-vars.$px02;
    }

    > div {
      display: inline-block;
      padding-left: ui-vars.$px00;
      vertical-align: top;
    }
  }
}

/** The idea is this is like [type="button"] generically */
/** We need to prohibit some jambonz-ui buttons from submitting forms */
/** Otherwise this selector would just be `button[type="button"] {...}` */
/** https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type */
.btnty {
  background-color: transparent;
  width: auto;
  height: auto;
  border: 0;
  padding: 0;
  font-size: 0;
}

/** 404 page (login & internal) */
.notfound {
  .btn {
    margin-top: ui-vars.$px03;
  }

  &--login {
    text-align: center;
  }
}

.ispin {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: ui-vars.$px01;
  }
}

.mast {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ico {
    @include mixins.icosize();
  }
}

.mass-edit {
  padding: ui-vars.$px00 0;

  label {
    @include ui-mixins.ms();
  }
}

.filters {
  display: flex;
  padding-top: ui-vars.$px03;
  padding-bottom: ui-vars.$px03;

  &--ender {
    justify-content: flex-end;
  }

  &--multi {
    overflow-x: auto;
    white-space: nowrap;

    > :first-child {
      margin-left: auto;
    }
  }

  > * + * {
    margin-left: ui-vars.$px02;
  }

  + * {
    margin-top: 0;
  }
}

/** Used for reccent-calls and alerts */
.pre-grid {
  @include mixins.code();
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: ui-vars.$px01;
  text-align: left;
  padding: ui-vars.$px03;
  color: ui-vars.$pink;
  background-color: ui-vars.$dark;
  border-radius: ui-vars.$px01;
}

.pcap {
  margin-top: ui-vars.$px02;
}

.txt--dark {
  color: ui-vars.$dark;
}
