@use "src/styles/vars";
@use "jambonz-ui/src/styles/vars" as ui-vars;

/** https://loading.io/css/ */

.spinner {
  display: inline-block;
  position: relative;
  width: ui-vars.$px04;
  height: ui-vars.$px04;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid ui-vars.$jambonz;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: ui-vars.$jambonz transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
