@use "src/styles/vars";
@use "src/styles/mixins";
@use "@jambonz/ui-kit/src/styles/index";
@use "@jambonz/ui-kit/src/styles/vars" as ui-vars;
@use "@jambonz/ui-kit/src/styles/mixins" as ui-mixins;

// ... imports remain the same ...

// Common mixins for shared styles
@mixin typeahead-base {
  position: relative;
  max-width: vars.$widthtypeaheadselector;

  &.disabled {
    @include mixins.disabled();
  }

  &.focused {
    input {
      border-color: ui-vars.$dark;
      outline: 0;
    }

    span {
      background-color: ui-vars.$dark;
    }
  }
}

@mixin typeahead-input {
  @include ui-mixins.m();
  appearance: none;
  padding: ui-vars.$px01 ui-vars.$px02;
  border-radius: ui-vars.$px01;
  border: 2px solid ui-vars.$grey;
  background-color: ui-vars.$white;
  max-width: vars.$widthtypeaheadinput;
  transition: border-color 0.2s ease;
  font-family: inherit;

  &:focus {
    border-color: ui-vars.$dark;
    outline: 0;
  }

  &[disabled] {
    @include mixins.disabled();
  }
}

@mixin typeahead-span {
  height: 100%;
  width: 50px;
  background-color: ui-vars.$grey;
  border-radius: 0 ui-vars.$px01 ui-vars.$px01 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.2s ease;

  &.disabled {
    @include mixins.disabled();
  }

  &.active {
    background-color: ui-vars.$dark;
  }

  svg {
    stroke: ui-vars.$white;
    cursor: default;

    &:first-child {
      transform: translateY(5px);
    }
    &:last-child {
      transform: translateY(-5px);
    }
  }
}

@mixin typeahead-dropdown {
  @include ui-mixins.m();
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: ui-vars.$white;
  border: 1px solid ui-vars.$dark;
  max-height: 200px;
  overflow-y: auto;
}

@mixin typeahead-option {
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: normal;
  display: block;
  padding-block-start: 0px;
  padding-block-end: 1px;
  min-block-size: 1.2em;
  padding-inline: 2px;
  white-space: nowrap;
  padding-left: 16px;
  font-family: inherit;
  line-height: 30.4px;

  &:hover,
  &.active {
    background-color: #006dff;
    color: ui-vars.$white;
  }

  &.active {
    cursor: default;
  }
}

// Main classes using the mixins
.typeahead-selector {
  @include typeahead-base();
  width: 100%;

  input {
    @include typeahead-input();
    width: 100%;
  }

  span {
    @include typeahead-span();
  }

  .typeahead-dropdown {
    @include typeahead-dropdown();
    z-index: 1000;
  }

  .typeahead-option {
    @include typeahead-option();
  }
}

.typeahead-selectorsmall {
  @include typeahead-base();
  width: auto;

  input {
    @include typeahead-input();
    width: auto;
    height: 34px;
    font-size: var(--mxs-size);
  }

  span {
    @include typeahead-span();
  }

  .typeahead-dropdown {
    @include typeahead-dropdown();
  }

  .typeahead-option {
    @include typeahead-option();
    font-size: var(--mxs-size);
  }

  .pointerevents {
    pointer-events: all;
    cursor: default;
  }
}

.filters--multi {
  overflow-x: visible !important;
  white-space: nowrap;
  grid-gap: 16px;
}
