@use "src/styles/vars";
@use "src/styles/mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

/** Generic layout: internal */
.internal {
  display: flex;

  header {
    padding: ui-vars.$px03;
    display: flex;
    align-items: center;

    @include mixins.mobile() {
      padding-bottom: ui-vars.$px04;
    }

    @include mixins.small() {
      padding-left: ui-vars.$px02;
      padding-right: ui-vars.$px02;
    }

    .ico {
      display: none;
      @include mixins.icosize();

      @include mixins.mobile() {
        display: flex;
      }
    }

    .btn {
      margin-left: auto;
    }
  }

  main {
    width: calc(100% - #{vars.$widthnavi});

    @include mixins.mobile() {
      width: 100%;
    }

    article {
      padding: 0 ui-vars.$px03 ui-vars.$px04;

      @include mixins.small() {
        padding-left: ui-vars.$px02;
        padding-right: ui-vars.$px02;
      }
    }

    footer {
      background-color: rgba(255, 255, 255, 0.9);
      margin-top: ui-vars.$px01;
      padding-top: ui-vars.$px02;
      padding-bottom: ui-vars.$px02;
      position: sticky;
      bottom: 0;
    }
  }
}
