@use "src/styles/vars";
@use "src/styles/mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.internal {
  display: flex;

  /** <nav.navi> */

  /** Inheriting from jambonz-ui .wrap */
  header {
    padding-top: ui-vars.$px03;
    padding-bottom: ui-vars.$px03;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mixins.mobile() {
      padding-bottom: ui-vars.$px04;
    }

    .ico {
      display: none;
      @include mixins.icosize();

      @include mixins.mobile() {
        display: flex;
      }
    }
  }

  main {
    width: calc(100% - #{vars.$widthnavi});

    @include mixins.mobile() {
      width: 100%;
    }

    article {
      padding: 0 ui-vars.$width-padding ui-vars.$px04;
    }
  }

  /** forms */
  form {
    > fieldset + fieldset {
      border-top: 1px solid ui-vars.$grey;
    }

    label {
      @include ui-mixins.m();
      @include ui-mixins.font-medium();
      display: flex;
      align-items: center;

      input[type="radio"] {
        margin: 0 ui-vars.$px01 0 0;
      }

      button[type="button"] {
        margin-left: ui-vars.$px01;
        cursor: pointer;
      }

      svg {
        stroke: ui-vars.$teal;
        width: 18px;
        height: 18px;
      }
    }

    fieldset {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: ui-vars.$px03;

      label {
        max-width: fit-content;
      }

      label + * {
        margin-top: ui-vars.$px01;
      }

      > div + div {
        margin-top: ui-vars.$px02;
      }

      .multi {
        display: flex;
        align-items: center;

        @media (max-width: 1090px) {
          flex-direction: column;
          align-items: flex-start;
        }

        > .inp {
          width: 100%;
          max-width: vars.$widthinput;
        }

        > .sel {
          width: 100%;
          max-width: 130px;
          margin-left: ui-vars.$px01;

          @media (max-width: 1090px) {
            margin-left: 0;
            margin-top: ui-vars.$px01;
            max-width: vars.$widthinput;
          }
        }
      }
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      max-width: vars.$widthinput;
    }
  }
}
