@use "src/styles/vars";
@use "src/styles/mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.internal {
  display: flex;

  /** Structural layout: */

  header {
    /** Inheriting from jambonz-ui .wrap */
    padding-top: ui-vars.$px03;
    padding-bottom: ui-vars.$px03;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mixins.mobile() {
      padding-bottom: ui-vars.$px04;
    }

    .ico {
      display: none;
      @include mixins.icosize();

      @include mixins.mobile() {
        display: flex;
      }
    }
  }

  main {
    width: calc(100% - #{vars.$widthnavi});

    @include mixins.mobile() {
      width: 100%;
    }

    article {
      padding: 0 ui-vars.$width-padding ui-vars.$px04;
    }
  }

  /** List indexes */

  .mast {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ico {
      @include mixins.icosize();
    }
  }

  .mass-edit {
    padding: ui-vars.$px00 0;

    label {
      @include ui-mixins.ms();
    }
  }

  .filters {
    display: flex;
    padding-top: ui-vars.$px04;
    padding-bottom: ui-vars.$px03;

    &--ender {
      justify-content: flex-end;
    }

    + * {
      margin-top: 0;
    }
  }
}
