@use "src/styles/vars";
@use "src/styles/mixins";
@use "@jambonz/ui-kit/src/styles/index";
@use "@jambonz/ui-kit/src/styles/vars" as ui-vars;
@use "@jambonz/ui-kit/src/styles/mixins" as ui-mixins;

.selector {
  position: relative;
  width: 100%;
  max-width: vars.$widthinput;

  &.disabled {
    @include mixins.disabled();
  }

  &.focused {
    select {
      border-color: ui-vars.$dark;
      outline: 0;
    }

    span {
      background-color: ui-vars.$dark;
    }
  }

  select {
    @include ui-mixins.m();
    appearance: none;
    padding: ui-vars.$px01 ui-vars.$px02;
    border-radius: ui-vars.$px01;
    border: 2px solid ui-vars.$grey;
    background-color: ui-vars.$white;
    width: 100%;
    max-width: vars.$widthinput;

    &:focus {
      border-color: ui-vars.$dark;
      outline: 0;
    }

    &[disabled] {
      @include mixins.disabled();
    }
  }

  span {
    height: 100%;
    width: 50px;
    background-color: ui-vars.$grey;
    border-radius: ui-vars.$px01;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    svg {
      stroke: ui-vars.$white;

      &:first-child {
        transform: translateY(5px);
      }

      &:last-child {
        transform: translateY(-5px);
      }
    }
  }
}
