@use "src/styles/vars";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.file-upload {
  &__wrap {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    .internal form & {
      max-width: vars.$widthinput;
    }
  }

  input[type="text"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    height: vars.$clipheight;

    .internal form & {
      max-width: calc(#{vars.$widthinput} - #{vars.$clipheight});
    }

    &:focus-visible {
      outline: 0;
    }
  }

  input[type="file"] {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  button[type="button"] {
    cursor: pointer;
    height: vars.$clipheight;
    width: vars.$clipheight;
    border-bottom-right-radius: ui-vars.$px01;
    border-top-right-radius: ui-vars.$px01;
    border: 2px solid ui-vars.$grey;
    border-left: 0;
    background-color: ui-vars.$pink;

    svg {
      stroke: ui-vars.$jambonz;
    }
  }
}
