@use "src/styles/vars";
@use "src/styles/mixins";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

/** Generic layout: login */
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: ui-vars.$px02;
  padding-right: ui-vars.$px02;

  header {
    padding: ui-vars.$px03;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  footer {
    color: ui-vars.$grey;
    padding: ui-vars.$px03;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      span {
        border-bottom: 1px solid ui-vars.$jambonz;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
