@use "src/styles/vars";
@use "jambonz-ui/src/styles/vars" as ui-vars;
@use "jambonz-ui/src/styles/mixins" as ui-mixins;

.obscure {
  @include ui-mixins.ms();
  display: flex;
  align-items: center;
  font-family: ui-vars.$font-mono;

  > span {
    @media (max-width: vars.$gridbreak2) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  > button[type="button"] {
    cursor: pointer;
    margin-left: ui-vars.$px02;

    svg {
      stroke: ui-vars.$jambonz;
      pointer-events: none;
    }
  }
}
